:root{

    --bg-color: #f0f0ef;
    --bg-second-color: rgb(174, 248, 248);

    --primary-color: #3575FE;
    --pm-light-color: #749EF8;
    --pm-dark-color: #1761FF;

    --secondary-color: #FFD71E;
    --sc-dark-color: #FFB31E;
    --sc-light-color: #FFE467;

    --tertiary-color: #6438FE;
    --tt-dark-color: #410AFF;
    --tt-light-color: #9376F9;
}

body{
    font-size: 12px;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: var(--bg-color);
}
a{
    text-decoration: none;
    color: var(--tertiary-color);
}
a:hover{
    color: var(--tt-light-color);
}
section{
    width: 100vw;
    height: 100vh;
    border: 2px var(--pm-dark-color) solid;
    padding: 1em;
}
h1{
    grid-area: 1 / 1 / 2 / 2;
    font-size: 4em;
    color: var(--pm-dark-color);
}
h2{
    font-size: 3em;
    color: var(--pm-dark-color);
}
h3{
    color: var(--pm-dark-color);
}
p{
    font-size: 1.5em;
    color: var(--primary-color);
}
header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;

}
#menu {
    grid-area: 1 / 2 / 2 / 3;
    padding: 1em;
    align-content: center;
}
#menu ul li{
    display: inline;
    font-size: 1.5em;
    padding: 1em;
}
#sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1em;
    background-color: var(--bg-second-color);
    opacity: 75%;
  }
#cuadricula{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
#cuadricula h2{
    font-size: 2em;
    margin-bottom: 1.3em;
}

#cuadricula p{
    font-size: 2.5em;
    line-height: 1.3em;
}
#cuadricula span{
    color: var(--tt-dark-color);
}
.cuadri1 { grid-area: 1 / 1 / 2 / 2; }
.cuadri2 { grid-area: 1 / 2 / 2 / 3; }
.cuadri3 { grid-area: 2 / 1 / 3 / 2; }
.cuadri4 { grid-area: 2 / 2 / 3 / 3; }

#work{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 2em;
    align-items: center;
    justify-items: center;
}

.worki{
    align-content: center;
    border: 2px var(--tt-dark-color) solid;
    border-radius: 7%;
    height: 50%;
    width: 70%;
    background-color: var(--bg-second-color);
}

.worki h3{
    color: var(--secondary-color);
    font-size: 2em;
    text-align: center;
}